<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="../assets/Java-Logo.png" class="card-img-top" alt="">
          <p ngIf="id = 1">{{discussion.topic}}</p>
        </div>
        <div class="card">
          <img src="../assets/nodes.png" class="card-img-top" alt="">
          
        </div>
        <div class="card">
         <img src="../assets/python.png" class="card-img-top" alt="">
        </div>
      </div>
    </div>
  </div>
</body>